<!DOCTYPE html>
<html>
<head>
	<title>CyberFlower | Welcome</title>
	<meta charset="utf-8">
	<meta name="viewport" content='width=device-width'>
	<meta name='description' content='High quality flowers at your reach!'>
	<meta name='keywords' content='flowers, shop, high quality'>
	<meta name='author' content='Dan keselman'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
	<header>
	<div class='container'>
		<div id='branding'>
			<a href="/"><h1><span class='highlight'>Cyber</span>Flower</h1></a>
		</div>
		<nav>
			<ul>
				<li class='current'><a href="/">Home</a></li>
				<li><a href="/flowers">Flowers</a></li>
				<li><a href="/buckets">Buckets</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
	</div>
</header>
