<% include partials/header %>
<div class='header-block'>
	<h1><span class='highlight'>Our</span> Buckets <i class="fab fa-bitbucket"></i></i></h1>
</div>
<div class='container'>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/1.jpg">
			<div class='info'>
			<h3>Name: Ageratum</h3>	
			<h3>Price: 60$</h3>
			<h3>In Stock: <span class='yes'>Yes</span></h3>
			<button class='button2'>Add to cart</button>
			</div>		
		</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/2.jpg">
		<div class='info'>
		<h3>Name: Allium</h3>
		<h3>Price: 50$</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/3.jpg">
		<div class='info'>
		<h3>Name: Anemone</h3>
		<h3>Price: 70$</h3>
		<h3>In Stock: <span class="yes">yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/4.jpg">
		<div class='info'>
		<h3>Name: Aster</h3>
		<h3>Price: 85$</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/5.jpg">
		<div class='info'>
		<h3>Name: Azalea</h3>
		<h3>Price: 45$</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/6.jpg">
		<div class='info'>
		<h3>Name: Balloon Flower</h3>
		<h3>Price: 80$</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/7.jpg">
		<div class='info'>
		<h3>Name: Bellflower</h3>
		<h3>Price: 60$</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/8.jpg">
		<div class='info'>
		<h3>Name: Bleeding Heart</h3>
		<h3>Price: 40$</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/9.jpg">
		<div class='info'>
		<h3>Name: Buttercup</h3>
		<h3>Price: 99$</h3>
		<h3>In Stock: <span class='no'>no</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/buckets/10.jpg">
		<div class='info'>
		<h3>Name: California Poppy</h3>
		<h3>Price: 75$</h3>
		<h3>In Stock: <span class='yes'>yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
</div>

<% include partials/footer %>