<% include partials/header %>
<div class='header-block'>
	<h1><span class='highlight'>Our</span> flowers <i class="fas fa-leaf"></i></h1>
</div>
<div class='container'>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Ageratum.jpg">
			<div class='info'>
			<h3>Name: Ageratum</h3>	
			<h3>Price: 3$ / 1 piece</h3>
			<h3>In Stock: <span class='yes'>Yes</span></h3>
			<button class='button2'>Add to cart</button>
			</div>		
		</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Allium.jpg">
		<div class='info'>
		<h3>Name: Allium</h3>
		<h3>Price: 4$ / 1 piece</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Anemone.jpg">
		<div class='info'>
		<h3>Name: Anemone</h3>
		<h3>Price: 2.3$ / 1 piece</h3>
		<h3>In Stock: <span class="no">No</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Aster.jpg">
		<div class='info'>
		<h3>Name: Aster</h3>
		<h3>Price: 3$ / 1 piece</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Azalea.jpg">
		<div class='info'>
		<h3>Name: Azalea</h3>
		<h3>Price: 3.2$ / 1 piece</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Balloon-Flower.jpg">
		<div class='info'>
		<h3>Name: Balloon Flower</h3>
		<h3>Price: 5.5$ / 1 piece</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Bellflower.jpg">
		<div class='info'>
		<h3>Name: Bellflower</h3>
		<h3>Price: 1.8$ / 1 piece</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Bleeding-Heart.jpg">
		<div class='info'>
		<h3>Name: Bleeding Heart</h3>
		<h3>Price: 2.8$ / 1 piece</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Buttercup.jpg">
		<div class='info'>
		<h3>Name: Buttercup</h3>
		<h3>Price: 4$ / 1 piece</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/California-Poppy.jpg">
		<div class='info'>
		<h3>Name: California Poppy</h3>
		<h3>Price: 6.2$ / 1 piece</h3>
		<h3>In Stock: <span class='no'>No</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
	<div class='flowerbox'>
		<img class='flowericon' src="/resources/flowers/Clary-Sage.jpg">
		<div class='info'>
		<h3>Name: Clary Sage</h3>
		<h3>Price: 2.5$ / 1 piece</h3>
		<h3>In Stock: <span class='yes'>Yes</span></h3>
		<button class='button2'>Add to cart</button>
		</div>
	</div>
</div>

<% include partials/footer %>