<% include partials/header %>
<section id='showcase'>

	<div class='container'>
		<h1>Highest quality flowers at your reach!</h1>
		<p>Id ut labore nulla ex veniam aute anim sit. Nisi culpa deserunt mollit occaecat incididunt veniam amet dolore irure. Ex nisi aute magna labore sit cillum anim in fugiat deserunt do tempor laborum.</p>
	</div>
</section>
<section id='newsletter'>
	<div class='container'>
		<h1>Subscire to our newsletter</h1>
		<form>
			<input type="email" name="" placeholder="Enter email">
			<button type='submit' class='button1'>Subscribe</button>
		</form>
	</div>
</section>
<section id='boxes'>
	<div class='container'>
		<div class='box'>
			<span class='icon'><i class="fas fa-spa fa-10x"></i></span>
			<h3>Various high quality flowers</h3>
			<p>Proident consectetur officia laboris mollit officia qui dolore labore sed elit ut sed.</p>
		</div>
		<div class='box'>
			<span class='icon'><i class="far fa-smile fa-10x"></i></span>
			<h3>Happy and returning costumers</h3>
			<p>Proident consectetur officia laboris mollit officia qui dolore labore sed elit ut sed.</p>
		</div>
		<div class='box'>
			<span class='icon'><i class="fas fa-shipping-fast fa-10x"></i></span>
			<h3>Fast Delivery</h3>
			<p>Proident consectetur officia laboris mollit officia qui dolore labore sed elit ut sed.</p>
		</div>
			<div class='box'>
			<span class='icon'><i class="fas fa-hand-holding-usd fa-10x"></i></span>
			<h3>10% of order goes to charity</h3>
			<p>Proident consectetur officia laboris mollit officia qui dolore labore sed elit ut sed.</p>
		</div>
	</div>
</section>

<% include partials/footer %>